.title {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  color: transparent;
  background-image: linear-gradient(
    to right,
    #de7373,
    #b7df6b,
    #6edbc2,
    #df7edc,
    #c57979
  );
  background-clip: text;
}

.loading {
  width: 60px;
  height: 60px;
  margin: 100px auto;
  position: relative;
}

.loading > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(calc(var(--value) * 45deg));
}

.loading > div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
  background-color: transparent;
  border: 4px solid #00ab3e;
  border-radius: 50%;
  filter: hue-rotate(calc(var(--value) * 45deg));
  animation: loading linear 2s infinite;
  animation-delay: calc(var(--value) * 0.25s);
}

@keyframes loading {
  to {
    transform: scale(0);
  }
}
